.Container, 
.Search, 
.FestivalList,
 .Festival, 
 .Hashtag, 
 .Footer, 
 .Navigationbar, 
 img, 
 .Tab,
 .Tab div ,
 .Detailviewpage,
 .Detailview,
 .Pickpage,
 .Picklist,
 .Pick,
 .Pick div,
 .Header,
 .Login{
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}

.Navigationbar{
  display: flex;
 
}

.Navigationbar-buttons{
  display: flex;
}

.Header{
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.list-flex {
  display: flex;
}

.logo-navi {
  display: flex;
 justify-content: space-between;
}

.Detailviewpage {
  display: flex;
}

.Tab {
  display: flex;
}

/* .Tab div {
  border: 1px solid black;
} */

 .festival-info {
  display: flex;
}

.Pickpage .title-navi, .Pick {
  display: flex;
  justify-content: space-between;
}

.Pick {
  border: 3px solid blue;
}

.Picklist {
  border: 3px solid yellowgreen;
}

.Login-container, .Logout-container, .Mypage-container, .Signup-container {
  height: 15rem;
  text-align: center;
  /* margin: 120px auto; */
}

.Login-backdrop, .Logout-backdrop, .Mypage-backdrop, .Signup-backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-view, .Logout-view, .Mypage-view, .Signup-view {
  border-radius: 10px;
  background-color: #ffffff;
  width: 30vw;
  height: 40vh;
}

.Login-view-itself {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  height: 8em;
}

.Login-view-inputs, .Mypage-view {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.Login-view-buttons {
  display: flex;
}

.Signup-view-inputs{
  display: flex;
  flex-direction: column;
}
input {
  margin: 0.2rem;
  
}
button {
  /* width: 4rem; */
  height: 2rem;
  margin: 0.2rem;
}