.Container, 
.Search, 
.FestivalList,
 .Festival, 
 .Hashtag, 
 .Footer, 
 .Navigationbar, 
 img, 
 .Tab,
 .Tab div ,
 .Detailviewpage,
 .Detailview,
 .Pickpage,
 .Picklist,
 .Pick,
 .Pick div,
 .Header{
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}

/* .Navigationbar {
  margin-left: 40rem;
 
} */

.Header {
  display: flex;
  justify-content: space-between;
}

.list-flex {
  display: flex;
}

.logo-navi {
  display: flex;
 justify-content: space-between;
}

.Detailviewpage {
  display: flex;
}

.Tab {
  display: flex;
}

/* .Tab div {
  border: 1px solid black;
} */

 .festival-info {
  display: flex;
}

.Pickpage .title-navi, .Pick {
  display: flex;
  justify-content: space-between;
}

.Pick {
  border: 3px solid blue;
}

.Picklist {
  border: 3px solid yellowgreen;
}